<h4 ng-if="ndctrl.emptysearch" class="???"> You didn't enter a search term. </h4>
<h4 ng-if="ndctrl.removedsomething && ndctrl.foundItems==0" class="???"> Picky, Picky!  Try something else.  </h4>
<h4 ng-if="ndctrl.searched && ndctrl.foundItems==0" class="???"> Sorry, we couldn't find a match.  </h4>
				 
<ul>
	<li ng-repeat="item in items">     
		{{item.name}},{{item.short_name}},{{item.description}}
		<button ng-click="ndctrl.removeItem({index: $index});">  Don't want this one!  </button>
	</li>
</ul>
