


<h2> Sign Up </h2>

<h3> To sign up, complete the form and submit. </h3>

<form name="signup" novalidate id="userform">
	<input type="text" 
		name="firstname" 
		placeholder="first name" 
		ng-model="formctrl.user.firstname"
		required class='inputbox'>
		<span ng-if="signup.firstname.touched && signup.firstname.$valid"> &#x2713; </span>

		<br>

	<input type="text" 
		name="lastname" 
		placeholder="last name" 
		ng-model="formctrl.user.lastname" 
		required class='inputbox'>
		<span ng-if="signup.firstname.touched && signup.firstname.valid"> &#x2713; </span>

		<br>

	<input type="text" 
		name="email" 
		placeholder="email address"
		ng-model="formctrl.user.email" 
		required class='inputbox'>
		<span ng-if="signup.firstname.touched && signup.firstname.valid"> &#x2713; </span>

		<br>

	<input type="text" 
		name="phone" 
		placeholder="phone number"
		ng-model="formctrl.user.phone"
		required class='inputbox'>
		<span ng-if="signup.firstname.touched && signup.firstname.valid"> &#x2713; </span>

		<br>

	<input type="text" 
		name="favdish" 
		placeholder="favorite menu item (code)"
		ng-model="formctrl.user.favdishcode"
		required class='inputbox'>
		<span ng-if="signup.firstname.touched && signup.firstname.valid"> &#x2713; </span>
		<span ng-if="formctrl.invalidcode"> 
			"Oops! That dish code doesn't seem to exist. Check it carefully, and try again.
		</span>

		<br>

	<button ng-disabled="signup.$invalid" ng-click = "formctrl.store()"
	class = "button">Submit</button>
	
	<span ng-if = "(signup.firstname.$error.touched && signup.lastname.$error.touched && 
				signup.email.$error.touched && signup.phone.$error.touched && 
				signup.favdishcode.$error.touched ) &&  (
				signup.firstname.$error.required || signup.lastname.$error.required || 
				signup.email.$error.required || signup.phone.$error.required || 
				signup.favdishcode.$error.required )" >
					All fields are required.  Make sure to complete the entire form to register!
				</span>


	<span ng-if="formctrl.stored">
		Your information has been saved!
	</span>

</form>


