<ul>
	<li ng-repeat="item in ndctrl.foundItems">     
		{{item.name}},{{item.short_name}},{{item.description}}
		<button ng-click="ndctrl.removeItem({index: $index});">  Don't want this one!  </button>
	</li>
</ul>

<div ng-if="ndctrl.emptysearch" class="???"> You didn't enter a search term. </div>

<div ng-if="ndctrl.removedsomething && ndctrl.foundItems==0" class="???"> Picky, Picky!  Try something else.  </div>

<div ng-if="ndctrl.searched && ndctrl.foundItems==0" class="???"> Sorry, we couldn't find a match.  </div>
			 