
{{infoctrl.imagepath}}

<div ng-if="infoctrl.registered">  
	<h2>  Registered Information for {{infoctrl.userdata.firstname}}! </h2>
	First Name: {{infoctrl.userdata.firstname}} <br>
	Last Name: {{infoctrl.userdata.lastname}} <br>
	email:  {{infoctrl.userdata.email}} <br>
	phone:  {{infoctrl.userdata.phone}} <br>
	favorite dish:  {{infoctrl.userdata.favdishinfo.name }} <br>
	{{infoctrl.userdata.favdishinfo.description }} <br>
	<img ng-src="{{infoctrl.imagepath}}">
</div>


<div ng-if="!infoctrl.registered">
	<h2> You haven't signed up yet!  <br>
		Go and <a ui-sref="public.signup"> sign up </a> right away!! </h2>

	<img src="images/surprised.jpg" alt="surpised ring-tail lemur width='612' height='408' ">
</div>

