 <ul>
   <li ng-repeat="item in $ctrl.items">
    <b> {{ item.name }} </b>  <br> {{ item.description }} 
   </li>
 </ul>






//<div class="container">
 //  <div class="row" ng-repeat="item in $ctrl.items">
 //   <div class="col"> {{ item.name }} </div> <div class="col"> {{ item.description }} </div>
 //  </div>
// </div>



// <ul class="container">
 // <li ng-repeat="item in $ctrl.items"  class="row" >
 //   <span class="col"> {{ item.name }} </span> <span class="col"> {{ item.description }} </span>
 // </li>
// </ul>
